.time-range{
}

.time-range ul{
  display: flex;
  justify-content: start;
  list-style: none;
}

.time-range ul li{

  font-size: .2rem;
  border: 0px solid pink;
}

.time-range button{
  color: black;
  font-family: 'Varela Round', sans-serif;
  padding: .71rem;
  border: none;
  background: none;
  font-size: 1rem;
}



