.menu{
  height: 0;
  transition: .500s height ease,.400s opacity ease-out;
  background: white;
  overflow: scroll;
  opacity: 0;
}

.now-playing{
  display: flex;
  align-items: center;
  border-bottom: 1px solid  #6f7886;
  padding: 10px;
}


.menu-ul{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  list-style: none;
}

.menu-ul li{
  border-bottom: 1px solid #6f7886;
  padding: .8rem;
  padding-left: 0px;
}

.now-playing-card{
  border-radius: 11px;
  color: #6f7886;
  background: #F5F5F5;
  display: flex;
  flex: 1;
  gap: 7px;
  border: 0px solid red;
  padding: 10px;
}

.now-playing-info{
  line-height: .8rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.now-playing-img{
  height: 3rem;
  width: 3rem;
}
