.menu{
  transition: .300s height ease, .300s opacity ease;
  background: white;
  overflow: scroll;
  opacity: 0;
}



.menu-ul{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  list-style: none;
}

.menu-ul li{
  border-bottom: 1px solid #6f7886;
  padding: .8rem;
  padding-left: 0px;
}

