.now-playing{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid  rgba(111,120,134,.3);
  padding: 10px;
  color: #6f7886;
  min-height: 89px;
}


.now-playing-card{
  border-radius: 11px;
  display: flex;
  flex: 1;
  gap: 7px;
  padding: 10px;
  border: 1px solid rgba(111,120,134,.3);
}

.now-playing-info{
  line-height: .8rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.now-playing-img{
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  height: 3rem;
  width: 3rem;
}
