.menu{
  height: 0;
  transition: .500s height ease,.400s opacity ease-out;
  background: white;
  overflow: scroll;
  opacity: 0;
}

.now-playing{
  border: 1px solid black;
  height: 4rem;
}


.menu-ul{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  list-style: none;
}

.menu-ul li{
  border-bottom: 1px solid black;
  padding: .8rem;
  padding-left: 0px;
}
