:root{
  --nav-color: whit;
}

.navbar{
  box-shadow: 0 0 1px rgba(0,0,0,.7);
  position: relative;
  flex: 0 1;
  background: var(--nav-color);
}

 .navbar h1{
   display: inline-block;
  border: 0px solid green;
  font-size: 1.2rem;
  padding: .8rem;
}

.heading{
   display: flex;
   justify-content:space-between;
   align-items: center;
}

.control-panel{
  
}

.control-panel ul{
  display: flex;
  justify-content: start;
  list-style: none;
  border: 0px solid red;
}

.control-panel ul li{
  font-size: .2rem;
  border: 0px solid pink;
}

.control-panel button{
  font-family: 'Varela Round', sans-serif;
  padding: .71rem;
  border: none;
  background: none;
  font-size: 1rem;
}



