<!DOCTYPE html>
<html lang="en">
    
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000" />
  <title>SpotiStats</title>
  
  <!-- React -->
  <script src="https://unpkg.com/systemjs@0.21.6/dist/system.js"></script>
  <style>
    *{
      font-family: 'Varela Round', sans-serif;
    }
  </style>
</head>

<body>
    
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="app">SpotiStats is loading...</div>
  <!-- Project -->
</body>

<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>

 <script src="{{ url_for('static',filename='systemjs.config.js')}}"></script>

</html>


