#login-page{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.login-div{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  width: 300px;
  height: 500px;
}

.login-div h1{
  width: max-content;
  margin: 10px;
  font-size: 1.4rem;
}