:root{
  --background-color: white;
}

.menu{
  transition: .300s height ease, .300s opacity ease;
  background: var(--background-color);
  overflow: scroll;
  opacity: 0;
}



.menu-ul{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  list-style: none;
}

.menu-ul li{
  border-bottom: 1px solid rgba(111,120,134,.3);
  padding: .8rem;
  padding-left: 0px;
}

